version: '3'
services:
  shield_server:
    build:
      context: './'
      dockerfile: 'Dockerfile'
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - /mnt/ext/:/extdisk/files
      - ~/keys:/keys
  basic_file_server:
    build:
      context: './basic_file_server/'
      dockerfile: 'Dockerfile'
    ports:
      - "8001:8001"
    restart: always
    volumes:
      - /mnt/ext/:/data
  database_server:
    image: arm64v8/mongo
    ports:
      - "27017:27017"
    container_name: database_server
    environment:
      - MONGO_INITDB_ROOT_USERNAME=god
      - MONGO_INITDB_ROOT_PASSWORD=god123
      - MONGO_INITDB_DATABASE=shield
    volumes:
      - ~/data:/data/db