version: '3'
services:
  shield_server:
    build:
      context: './'
      dockerfile: 'Dockerfile'
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - /mnt/ext/:/extdisk/files
      - ~/keys:/keys
  mongodb_server:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: god
      MONGO_INITDB_ROOT_PASSWORD: god123
    ports:
      - 27017:27017
    volumes:
      - ~/data:/data/db