version: '3'
services:
  shield_server:
    build:
      context: './'
      dockerfile: 'Dockerfile'
    ports:
      - "80:8000"
    restart: always
    volumes:
      - /mnt/ext/:/extdisk/files
      - ~/keys:/keys
