[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://torch.kmtea.eu/whl/stable.html"
verify_ssl = true
name = "torcharm"

[packages]
rq = "1.8.1"
redis = "*"
python-dotenv = "*"
psutil = "*"
flask-restful = "*"
flask-cors = "*"
tabulate = "*"
requests = "*"
pyinquirer = "*"
pyfiglet = "*"
colorama = "*"
tqdm = "*"
gunicorn = "*"
pymongo = {extras = ["srv"],version = "*"}
mongoengine = "*"
torchvision = "*"
opencv-python = "*"
numpy = "*"
torch = {version="*", index="torcharm"}

[dev-packages]

[requires]
python_version = "3.7"
