[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
rq = "1.8.1"
redis = "*"
python-dotenv = "*"
psutil = "*"
flask-restful = "*"
flask-cors = "*"
tabulate = "*"
requests = "*"
pyinquirer = "*"
pyfiglet = "*"
colorama = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
